<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
</head>

<body>
	<div id="content">
		<div id="navbar">
			<nav class="navbar navbar-dark bg-dark">
				<a th:href="@{/home}" class="btn btn-sm btn-dark"><img src="https://img.icons8.com/ultraviolet/25/000000/home-page.png"></a>
				<a th:href="@{/show_inbox}" class="btn btn-sm btn-dark"><img src="https://img.icons8.com/ultraviolet/25/000000/new-post.png"></a>
				<a th:href="@{/showMyProfile}" class="btn btn-sm btn-dark"><img src="https://img.icons8.com/ultraviolet/25/000000/gender-neutral-user.png"></a>
				<ul class="nav nav-pills">	
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://img.icons8.com/ultraviolet/25/000000/add-user-group-man-man.png"></a>
				    <div class="dropdown-menu">
				    	<span id="drop_down_menu_request">Friend Requests</span>
				    	<table>	    
							<tr th:each="friendRequest : ${currentUser.getInComingFriendRequests()}">
								<td th:text="${friendRequest.getSender().name}+' '+${friendRequest.getSender().lastName+' '}"></td>
								<td>
									<a th:href="@{/accept_friend_request(friendRequestId=${friendRequest.id})}" class="btn btn-success btn-sm">Accept</a>
									<a th:href="@{/discard_friend_request(friendRequestId=${friendRequest.id})}" class="btn btn-danger btn-sm">Discard</a>
								</td>
							</tr>
						</table>
				    </div>
				  </li>
				</ul>
				<ul class="nav nav-pills">	
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://img.icons8.com/ultraviolet/25/000000/appointment-reminders.png"></a>
				    <div class="dropdown-menu">
				    	<span id="drop_down_menu_request">Group Requests</span>
				    	<table>	    
							<tr th:each="groupRequest : ${currentUser.getGroupRequests()}">
								<td th:text="${groupRequest.getGroup().name}"></td>
								<td>
									<a th:href="@{/accept_invitation(invitationId=${groupRequest.id})}" class="btn btn-success btn-sm">Accept</a>
									<a th:href="@{/home}" class="btn btn-danger btn-sm">Discard</a>
								</td>
							</tr>
						</table>
						<span id="drop_down_menu_request">Trainer Requests</span>
				    	<table>	    
							<tr th:each="trainerRequest : ${currentUser.getTrainerRequests()}" th:id="'row' + ${trainerRequest.getId()}">
								<td th:text="${trainerRequest.getTrainer().name} + ' ' + ${trainerRequest.getTrainer().lastName}"></td>
								<td>
									<button id="acceptTrainerRequest" class="btn btn-success btn-sm" th:data-request=${trainerRequest.getId()}>Accept</button>
									<button id="discardTrainerRequest" class="btn btn-danger btn-sm" th:data-request="${trainerRequest.getId()}">Discard</button>
								</td>
							</tr>
						</table>
				    </div>
				  </li>
				</ul>
				
				<form class="form-inline my-2 my-lg-0" th:action="@{/find_user}">
			        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="nameAndLastName" id="nameAndLastName">
			        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
		    	</form>
		    	<form th:action="@{/logout}" method="POST">
					<input type="submit" class="btn btn-danger" value="Logout"/>
				</form>
			</nav>
		</div>
		<div id="container">
			<div id="date_text">
				<span>Date:</span>
			</div>
			
        	<input type='date' class="form-control" id='date' placeholder="Date"/>
        	<div id="choose_user">
        		Choose pupil:
				<ul class="list-group pupil_list" th:each="pupil : ${currentUser.getPupils()}">
				  <li class="list-group-item" th:text="${pupil.name} + ' ' + ${pupil.LastName}" th:data-id="${pupil.id}" th:data-photo="${pupil.photo}" th:data-age="${pupil.age}" th:data-weight="${pupil.weight}" th:data-growth="${pupil.growth}" th:data-lastname="${pupil.lastName}" th:data-name="${pupil.name}" th:data-BMI="${pupil.bmi}" th:data-demand="${pupil.caloricDemand}"></li>
				</ul>
			</div>

			<div id="training_details">
				<select class="form-control hide" id="excercise_list">
				</select>
				<div id="series_text" class='hide'>
					<label id="series">Series:</label>
				</div>
				<select class="form-control hide" id="series_list">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				</select>
				
			</div>
			<div id="div_with_actions" class="hide">
				<button type="button" class="btn btn-success actions" id="save_exercise">Save Exercise</button>
			</div>
			<div id="series_details" class="hide">
			</div>
		</div>
		<div id="note" class="hide">
			<span id="note_span">Note:</span></br>
			<textarea id="note_text" rows="14"></textarea>
		</div><br>
		<div id="added_exercises_box" class="hide">
			<span id="added_exercises_span" class="hide">Added Exercises:</span></br>
			<div id="added_exercises_div" class="hide">
			</div>
			<button type="button" class="btn btn-warning actions" id="save_training">Save Training</button>
		</div>
	</div>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/writeTraining.css}" />
	<script th:src="@{/jq/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/writeTraining.js}"></script>
</body>
</html>