body 
{
	background-color: #202020;
}
#container
{
	width: 100%; height: 100%;
}
#friend_list
{
	position: fixed; right:0%; top: 6%; width: 250px; height: 100%; text-align: center;
}	
ul 
{
	list-style-type: none;
}
.dropdown-menu
{
	background-color: #202020; color: white; width:270px;
}
nav-link dropdown-toggle
{
	color: white;
}
.nav-pills .show>.nav-link 
{
	background-color: #343a40;
}
.dropdown-toggle::after 
{
	display:none;
}
#content
{
	background-color: #232322; width:700px; height: 1500px; left: 30%; top: 6%; position: absolute;
}
.sticky 
{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content 
{
	padding-top: 60px;
}
#navbar
{
	position:fixed;  
	z-index:1; 
	width:100%;
}
#left_nav
{
	width: 250px; height: 600px; position: fixed; left: 17%; top: 7%;  color: white;
}
a:not([href]):not([tabindex]) 
{
	color: white;
}
#create_group_menu
{
	position: relative; left: 40%;
}
#left_table_menu
{
	background-color: #202020; color: white;
}
#group_list
{
	overflow-wrap: break-word;	
}
#groups
{
	width: 145px;
	position: fixed;
	left: 21%;
	top: 13%;
}
#header
{
	left: 40%;
	position: relative;
}
a, a:hover
{
	color: white; text-decoration: none;	
}
#group_picture
{
	position: relative; width:700px; left:0%; top:0%; height: 200px; background-color: black;
}
#group_name
{
	position: relative; width:200px; left:5%; top:0%; height: 50px; color: white; font-size: 30px; font-family: Calibri;
}
#add_new_member
{
	color: gold;
}
#post_form
{
	position: relative; left: 0%; top: 0%; width: 100%; height: 200px;
}
#content_input
{
	width: 100%; height: 200px;
}
#create_button
{
	left: 66%; position: relative; width: 200px; margin-right: 5%;
}
#post_contetnt
{
	overflow: auto; resize: vertical; border-radius: 2%; width: 90%; height: 100px; margin-left: 5%; margin-right: 5%; margin-top: 2%;
}
  		
  		
  		
  		